// 修改antd tab默认样式
.ant-tabs-bar {
  margin: 0 0 10px 0 !important;
}

// 抽屉组件重写样式
.ant-drawer-content-wrapper {
  background-color: #f8f8f8 !important;
  .ant-drawer-content {
    background-color: #f8f8f8 !important;
    .ant-drawer-body {
      padding: 0 !important;
      // 移动端群组部分
      .room-card {
        background-color: rgba(115, 165, 200, 0.2);
      }
      .room-card.active {
        background-color: rgba(115, 165, 200, 0.35);
      }
      .room-card-name {
        color: #080808;
      }
      .text {
        color: #080808;
      }

      // 在线人数部分
      .active-content {
        height: 100%;
        overflow-y: scroll;
        border-radius: 0;
        text-align: left;
        padding: 10px;
        position: relative;
        .active-content-title {
          text-align: left;
          height: 100px;
          line-height: 20px;
          padding: 0 12px;
          font-size: 14px;
          color: #080808;
          border-bottom: 1px solid #d9d9d9 !important;
          .active-content-title-label {
            font-size: 12px;
            color: #888;
          }
          .active-content-title-detail {
            display: inline-block;
            width: 90%;
            vertical-align: middle;
          }
          & > div,span {
            overflow: hidden; //超出的文本隐藏
            text-overflow: ellipsis; //溢出用省略号显示
            white-space: nowrap; //溢出不换行
          }
        }
        .active-content-sum {
          // font-weight: bold;
          height: 40px;
          line-height: 40px;
          padding: 0 12px;
          color: #080808;
        }
        .active-content-adduser{
          padding: 0 14px;
          line-height: 40px;
          height: 40px;
          display: flex;
          color: #080808;
          align-items: center;
          .icon{
            font-size: 32px;
            margin-right: 15px;
          }
          .label{
            font-size: 16px;
          }
        }
        .active-content-users {
          max-height: calc(100% - 220px);
          overflow-y: scroll;
          .active-content-user {
            width: 260px;
            overflow: hidden; //超出的文本隐藏
            text-overflow: ellipsis; //溢出用省略号显示
            white-space: nowrap; //溢出不换行
            text-align: left;
            height: 40px;
            line-height: 40px;
            color: #080808;
            padding: 0 12px;
            position: relative;
            font-size: 16px;
            .icon{
              font-size: 16px;
              color: #080808;
              position: absolute;
              top: 9px;
              right: 35px;
            }
          }
        }
        .active-content-out {
          position: absolute;
          bottom: 0;
          font-size: 18px;
          left: 0;
          height: 50px;
          color: #e23b38;
          background: #f8f8f8;
          border-top: 1px solid #e1e1e1;
          border-left:none;
          border-right:none;
          border-bottom:none;
          border-radius: 0 !important;
          box-shadow: none !important;
          width: 100%;
          right: 0;
        }
      }
    }
  }
}
.ant-drawer-mask {
  background: transparent !important;
}

// antd drawer
.ant-drawer .ant-drawer-content {
  overflow: hidden;
}
.ant-drawer-body {
  height: 100%;
  overflow: hidden;
}
.chat-drawer {
  height: 100%;
  overflow: hidden;
}

// 修改antd collpase默认样式
.ant-collapse {
  background: #fbfbfb !important;
  border: none;
}
.ant-collapse-item {
  border: none !important;
}
.ant-collapse-content {
  border: none !important;
}
.ant-collapse-header {
  text-align: left;
}
.ant-collapse-content-box {
  padding: 0 !important;
}
// 修改antd ant-tree-title 默认样式
.ant-tree-title,
.ant-tree-switcher-line-icon {
  color: #080808 !important;
}

// 上传附件字体修改
.ant-upload {
  font-size: inherit!important;
}

// disabled tree节点默认隐藏
.ant-tree-treenode-switcher-open .ant-tree-checkbox-disabled,.ant-tree-switcher-noop{
  // display: none!important;
}